title #{page_title}
link(rel='stylesheet', href='#{basedir}/css/bootstrap.min.css')
link(rel='stylesheet', href='#{basedir}/css/main.css')
script(src='#{basedir}/js/jquery.min.js')
script(src='#{basedir}/js/bootstrap.min.js')